<style>
.live_visitors {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 13px;
}

.live_visitors::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background: currentColor;
  color: #21b646;
  box-shadow: 0 0 0 0 #21b646;
  border-radius: 100%;
  margin-left: -14px;
  transform: translateY(-50%, -50%);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 182, 70, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(33, 182, 70, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 182, 70, 0);
  }
}
</style>

<p class="live_visitors">
  <span id="visitors_count"></span>
 {{ 'People are watching right now.' }}
</p>

<script>
  const minVisitors = 100, maxVisitors = 200, delay= 2000;
  const visitorsCount = document.getElementById('visitors_count');
  const updateVisitors = () => visitorsCount.textContent = Math.floor(Math.random() * (maxVisitors - minVisitors) + minVisitors);
  updateVisitors();
  setInterval(updateVisitors, delay);
</script>
