<p class="live_visitors">
  <span id="visitors_count"></span>
 {{ 'People are watching right now.' }}
</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const minVisitors = 100;
    const maxVisitors = 200;
    const delay = 2000;
    const visitorsCount = document.getElementById('visitors_count');

    if (visitorsCount) {
      const getRandomVisitors = () => 
        Math.floor(Math.random() * (maxVisitors - minVisitors + 1)) + minVisitors;

      const updateVisitors = () => {
        visitorsCount.textContent = getRandomVisitors();
      };

      updateVisitors();
      setInterval(updateVisitors, delay);
    }
  });
</script>