{%- liquid
  assign discount = 25
  assign discounted_price = 100 | minus:discount
  assign discount_multiplier = discounted_price | divided_by: 100.0
-%}

<div>
  <p>
    <b>Special Price for You:</b> {{ product.price | times:discount_multiplier | money }}
  </p>
  <p>Apply CODE: SAVE20 at Checkout</p>
</div>