

<div class="page-width">
  <ul>
    {% for collection in collections %}
      <li>
        {{ collection.title }}
      </li>
    {% endfor %}
  </ul>
</div>


{% schema %}
  {
    "name": "Tabs",
    "settings": [],
    "presets": [
      {
        "name": "Tabs Section"
      }
    ]
  }
{% endschema %}
