{%- liquid 
  assign heading_font = section.settings.heading_font

-%}

<style>
  {{ heading_font | font_face }}
  #shopify-section-{{ section.id }} .font-picker-section h1 {
    font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }}
  }
</style>

<div class="page-width font-picker-section">
  <h1>Font Picker</h1>
</div>

{% schema %}
  {
    "name": "Font Picker",
    "settings": [
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading font",
        "default": "helvetica_n4"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Font Picker Section"
      }
    ]
  }
{% endschema %}