
<div class="page-width">
  <h1>Font Picker</h1>
</div>

{% schema %}
  {
    "name": "Font Picker",
    "settings": [
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading font",
        "default": "helvetica_n4"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Font Picker Section"
      }
    ]
  }
{% endschema %}