<div class="main-container-testimonial-section">
  {% for block in section.blocks %}
    {%- liquid
      assign customer_image = block.settings.customer_image
       assign customer_name = block.settings.customer_name
       assign customer_review = block.settings.customer_review
    -%}
  <div class="card-testimonial-section-gm">
    <div class="testimonial-top-bar">&nbsp;</div>
    <div class="testimonial-content-bar">
        <img src="{{ customer_image | img_url: 'master' }}" alt="">
        <h2>{{ customer_name }}</h2>
        <p>{{ customer_review }}</p> 
    </div>
    <div class="testimonial-bottom-bar">
      <div class="stars-container-gm">
        <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
        <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
        <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
        <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
        <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% schema %}
  {
    "name": "Testimonial",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Testimonial Section"
      }
    ]
  }
{% endschema %}