h3.accordion__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

h3.accordion__title img {
  width: 20px;
  object-fit: cover;
  border: 1px solid #333;
  border-radius: 10%;
  box-sizing: border-box;
  padding: 2px;
}

/* TESTIMONIAL SECTION */
.main-container-testimonial-section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.card-testimonial-section {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 320px;
  width: 100%;
  min-height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(0, 60, 60, 0.3);
}

.testimonial-top-bar {
  width: 100%;
  height: 25%;
  background-color: #000000d4;
  clip-path: polygon(0 1%, 100% 0, 100% 80%, 0% 100%);
  border-radius: 10px 10px 0px 0px;
}

.testimonial-content-bar {
  width: 100%;
  height: 50%;
  position: relative;
  padding: 10px 20px;
}

.testimonial-content-bar img {
  width: 73px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px #d4d4d4d4;
  position: absolute;
  top: -24%;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-content-bar h2,
.testimonial-content-bar p {
  text-align: center;
}

.testimonial-bottom-bar {
  width: 100%;
  height: 25%;
  background-color: #000000d4;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  border-radius: 0px 0px 10px 10px;
}

.stars-container {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
}

.star-fa-icons-testimonials {
  display: inline-block;
  padding: 45px 3px;
  color: #ffd700;
  font-size: 24px;
}

@media only screen and (min-width: 1380px) {
  .main-container-testimonial-section {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .main-container-testimonial-section {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .main-container-testimonial-section::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .card-testimonial-section {
    width: 300px;
  }
}

@media only screen and (max-width: 360px) {
  .card-testimonial-section {
    width: 280px;
  }
}

@media only screen and (max-width: 340px) {
  .card-testimonial-section {
    width: 250px;
  }
}

/* KEY HIGHLIGHTS SNIPPET STYLE */
.key-highlights__main-container {
  width: 100%;
  box-sizing: border-box;
}

.key-highlights__main-container h2 {
  font-size: 2.5rem;
}

.key-highlights__inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.key-highlights__box {
  width: 45%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.key-highlights__key {
  color: #96a6bc;
  font-size: 2rem;
  font-weight: bold;
}

.key-highlights__value {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.key-highlights__disclaimer--text {
  font-size: 1.3rem;
}

@media only screen and (max-width: 480px) {
  .key-highlights__main-container h2 {
    font-size: 2rem;
  }

  .key-highlights__key {
    font-size: 1.5rem;
  }

  .key-highlights__value {
    font-size: 1.3rem;
  }

  .key-highlights__disclaimer--text {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 350px) {
  .key-highlights__main-container h2 {
    font-size: 1.7rem;
  }

  .key-highlights__key {
    font-size: 1.2rem;
  }

  .key-highlights__value {
    font-size: 1rem;
  }

  .key-highlights__disclaimer--text {
    font-size: 1rem;
  }
}

/* ACCORDION SECTION */
/* .accordion-main-container {
  width: 100%;
  background-color: var(--accordion-section-bg);
  padding: var(--accordion-padding-top) 0 var(--accordion-padding-bottom);
  margin: 0 auto;
}
  
.accordion-container {
  width: var(--accordion-section-width);
  background-color: var(--accordion-inner-bg);
  margin: 0 auto;
  padding: 50px 30px;
  border-radius: var(--accordion-border-radius);
}

.accordion-main-container h2 {
  color: var(--accordion-title-color);
  text-align: var(--accordion-title-align);
  font-family: {{ tfont.family }}, {{ tfont.fallback_families }};
  font-size: var(--accordion-title-size);
  margin-bottom: var(--accordion-title-margin);
  padding: 0 20px;
}

.accordion-container .single-accordion button {
  color: var(--accordion-title-color);
  display: block;
  width: 100%;
  position: relative;
  padding: 20px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.accordion-container .single-accordion {
  border-bottom: 1px solid var(--accordion-border-color) !important;
}

.accordion-container .single-accordion button span.accordion-button-text {
  display: inline-block;
  font-family: {{ qfont.family }}, {{ qfont.fallback_families }};
  font-size: var(--accordion-question-size);
  text-align: left;
  width: 95% !important;
  line-height: 1.5;
}

.single-accordion button svg {
  height: var(--accordion-icon-size);
  stroke-width: var(--accordion-icon-width);
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.answer-content {
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

.answer-content p {
  padding: 20px 30px;
  font-family: {{ afont.family }}, {{ afont.fallback_families }};
  font-size: var(--accordion-answer-size);
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.active-button {
  background-color: var(--accordion-btn-bg) !important;
  color: var(--accordion-active-btn-color) !important;
  transition: all .3s ease;
}

.active-answer {
  background-color: var(--accordion-answer-bg) !important;
  color: var(--accordion-answer-text-color) !important;
}

@media only screen and (max-width: 800px) {
  .accordion-main-container h2 {
    font-size: var(--accordion-title-size-mb);
  }
  .accordion-container .single-accordion button span.accordion-button-text {
    font-size: var(--accordion-question-size-mb);
    width: 90% !important;
  }
  .single-accordion button svg {
    height: var(--accordion-icon-size-mb);
    stroke-width: var(--accordion-icon-width-mb);
    right: 2%;
  }
  .answer-content p {
    font-size: var(--accordion-answer-size-mb);
  }
} */

/* PRODUCT ADDON SNIPPET */
.product-addon-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  background-color: var(--addon-bg);
  padding: 20px 0px;
  border-radius: 5px;
  box-sizing: border-box;
}

.product-addon-container .product-addon-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-addon-container .product-addon-item .product-addon-checkbox {
  cursor: pointer;
  accent-color: var(--checkbox-active-color);
}

.product-addon-image {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: var(--image-type);
}

.product-addon-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-addon-title {
  font-size: var(--title-size);
  font-weight: var(--font-weight);
  color: var(--title-color);
}

.product-addon-price {
  font-size: var(--price-size);
  color: var(--price-color);
  opacity: var(--price-opacity);
}

@media only screen and (max-width: 600px) {
  .product-addon-image {
    width: var(--image-size-mb);
    height: var(--image-size-mb);
  }

  .product-addon-title {
    font-size: var(--title-size-mb);
  }

  .product-addon-price {
    font-size: var(--price-size-mb);
  }
}